body {
    background-image:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg")
}
h1 { 
    background-color: lemonchiffon;
    padding: 10px;
    color:orange;
    text-align: center;
}
#paragraph{
    background-color: lightseagreen;
    color:white;
    padding: 15px;
    
}
img {
    width:100px;
    height:100px;
    margin: 10px;
    
}

#game {
    background-color:rgb(248, 255, 160);
    color:rgb(56, 126, 237);
    top-margin: 20px;
    padding:20px;
}

#btn5, #btn6 {
    padding: 20px;
}
