body {
    background-image:url("https://wallpaper-gallery.net/images/space-background-images/space-background-images-2.jpg")
}
h1 { 
    background-color: lemonchiffon;
    padding: 10px;
    color:orange;
    text-align: center;
}
#paragraph{
    background-color: lightseagreen;
    color:white;
    padding: 15px;
    
}
img {
    width:100px;
    height:100px;
    margin: 10px;
    
}

#game {
    background-color:rgb(248, 255, 160);
    color:rgb(56, 126, 237);
    padding:20px;
}

#btn5, #btn6 {
    padding: 20px;
}
